.timer,
input,
button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#datetime-picker {
  margin: 20px 4px 0px 40px;
  padding: 3px 10px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

[data-start] {
  padding: 3px 10px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 8px;
}

.value {
  font-size: 46px;
  line-height: 42px;
}

.label {
  font-size: 13px;
  text-transform: uppercase;
}

.timer {
  display: flex;
  flex-direction: row;
  margin: 50px 40px;
}

button:active {
  background: #e5e5e5;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
